* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f4f4;
}

/* Dashboard Layout */
.dashboard {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #e53935;
  color: white;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.1);
}

.menu {
  list-style: none;
  padding: 10px;
}

.menu li {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.menu li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.menu li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.menu li.active {
  background-color: rgb(0, 0, 0);
}
/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  background: #f44336;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  font-size: 14px;
}
.user-info a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
/* Content */
.content {
  padding: 20px;
  height: 100%;
  background-color: rgb(236, 236, 236);
  width: 100%;
}

.chart {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}
.table_qlpbt {
  font-family: Arial, sans-serif;
}
:root {
  --header-bg: #8b0000;
  --row-alt: #ffe6e6;
  --border-color: #ccc;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 16px;
  min-width: 400px;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
  background-color: var(--header-bg);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid var(--border-color);
}

.styled-table tbody tr:nth-child(even) {
  background-color: var(--row-alt);
}
.xoa_style_btn {
  margin-top: 20px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px; /* Bo góc */
  font-size: 15px;
  transition: 0.3s;
  background-color: red;
}
.sua_style_btn {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px; /* Bo góc */
  font-size: 15px;
  transition: 0.3s;
  background-color: rgb(44, 219, 102);
}
.them_style_btn {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px; /* Bo góc */
  font-size: 15px;
  transition: 0.3s;
  background-color: rgb(44, 219, 102);
}
